body{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	font-family: 'Saira Condensed', sans-serif;

}
p{
	font-family: 'Noticia Text', serif;
}
button{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	border: none;
}
button[type=button]{
	color: white;
}
#dropf{
	background-color: #483D8B;
}
h1,h2,h3,h4,h5,h6{
	color:white;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}
#img{
	margin-left: 250px;
	width:120px;
	height:120px;
	border-radius:60px;
	position:absolute;
	margin-top:-90px;
}
#uploadFoto{
	background-color: #483D8B;
	color: white;
}
label{
	color:white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: large;
}
select{
	min-width: 200px;
}
.login{ 
	width: 600px;
	height: 350px; 
	margin:15% auto;
	border-radius: 20px;
}
.nav-link{
	color:white;
}
.navbar-brand{
	color: white;
}
.nav-link:hover{
	border-bottom:1px solid white;
	color:white;
}
.navbar-toggler{
	width: 50px;
}
.navbar-toggler .line{
	width: 100%;
	float: left;
	height: 2px;
	background-color: #fff;
	margin-bottom: 5px;
}

#professor{
	float: right;
	margin-top:20px;
	margin-right:-35px;
	width: 300px;
	height: 30px;
	display: none;
}
.card-header{
	border:2px solid black;
}
#back-black{
	background-color:#363636;
}
#dark-blue{
	background-color:#483D8B;
}
#professor ul{
	list-style: none;
	background-color: #483D8B;
	border:2px solid black;
	border-radius: 10px 0px 10px 10px;
}
#professor li{
	background-color: #483D8B;
	height: 30px;
	font-size: 20px;
	margin: 5px;
}
#professor li a{
	color: black;
}
#professor li:hover{
	background-color: #191970;
}
.conta_usuario{
	list-style: none;
}
.conta_usuario li{
	display: inline;
	padding-right: 10px;
}
#foto_perfil{
	display: none;
}
