.login{ 
	width: 400px;
	height: 350px; 
	margin:10% auto;
	border-radius: 20px;
}
a{
	text-decoration: none;
	font-family: 'Saira Condensed', sans-serif;

}
p{
	font-family: 'Noticia Text', serif;
	color: white;
}
button{
	font-family: 'ZCOOL QingKe HuangYou', cursive;	
}
h1,h2,h3,h4,h5,h6{
	color:white;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}
#relacionado-img{
	height: 300px;
}
.aulas_hover .card-body{
	color: white;
	background-color: #483D8B;
	font-weight: bold;
	font-size: 20px;
}
.aulas_hover:hover{
	color: white;
	text-decoration: none;
}
.aulas_hover div:hover{
	background-color: black;
}
input[type=radio]{
	width: 60px;
	height: 60px;
	background-color: white;
}
select[name=categoria]{
	background-color: #483D8B;
	color: black;
	font-size: 18px;
	color: white;
	border: 1px solid white;
}
option{
	color:white;
	background-color: #363636;
}
.num{
	font-size: 25px;
	font-weight: bold;
}
.dropdown-menu a{
	color: white;
}
label{
	color:white;
}
#uploadFoto{
	background-color:#483D8B;
}
a{
	text-decoration: none;
	color: white;
}
#back-black{
	background-color:#363636;
}
#dark-blue{
	background-color:#483D8B;
}
.list-group-item{
	color: white;
}
.navbar-toggler{
	width: 100px;
	height: 50px;
}
.nav-link{
	color: white;
}
.logo{
	color: white;
	font-weight: bold;
}
.nav-item{
	margin-left: 5px;
	font-weight: bold;
}
.nav-item:hover{
	border-bottom:2px solid white ;
	color:white;
	font-size: 15px;
}
.navbar-toggler{
	width: 60px;
}
.navbar-toggler .line{
	width: 100%;
	float: left;
	height: 2px;
	background-color: #fff;
	margin-bottom: 5px;
}
#busca{
	width: 500px;
}
.rodape{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: flex-end;
	height: 400px;
}
.rodape{
	color: white;
}
.rodape a{
	background-color: black;
	color: white;
}
.rodape .jumbotron{
	background-color: #363636;
}
.rodape .list-group-item{
	background-color:black;
}